* {
  box-sizing: border-box;
}

h1, h3{
  font-family: "Roboto", sans-serif;
}
.controls-section {
  margin-left: 1.0416666%;
  margin-right: 1.0416666%;
}

textarea {
  width: 95%;
  font-size: 14px;
  margin-top: 5px;
}

header {
  margin-left: 1.0416666%;
  margin-right: 1.0416666%;
}
ul .row {
  margin-bottom: 20px;
}

h3 {
  margin-top: 0px;
  font-size: 24px;
}

.fa-star {
  color: orange;
}

form {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

#search-controls {
  display: inline-block;
  margin-top: 15px;
}

#search-controls label {
  width: 125px;
}

label {
  font-size: 16px;
  display: inline-block;
  width: 100px;
  height: 25px;
}

#search-controls > label {
  width: 225px;
}

ul{
  padding: 0px;
  list-style: none;
}

li {
  padding: 10px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.bookmark-entry {
  border: 2px solid black;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.delete {
  display: inline;
}

.desc-edit {
  font-size: 14px;
  width: 100%;
  margin-top: 10px;
}

.edit {
  display: inline;
}